/* #region assets */

/* #region colors */

:root{
    --primary:;
    --secondary:;
    --col-bg:;
    --col-bg-header:;
    --col-bg-footer:;
    --col-underline:;
}

.cw{
    color: white;
}

.cb{
    color: black;
}

/* #endregion colors */

/* #region grid */

.container{
    width: 100%;
    margin: auto;
}



.row{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 460px){
    
    .hide-min-xs{
        display: none;
    }

    .show-min-xs{
        display: block;
    }
    
    .col-min-xs-1{
        width: calc((100% / 12)*1);
    }

    .col-min-xs-2{
        width: calc((100% / 12)*2);
    }

    .col-min-xs-3{
        width: calc((100% / 12)*3);
    }

    .col-min-xs-4{
        width: calc((100% / 12)*4);
    }

    .col-min-xs-5{
        width: calc((100% / 12)*5);
    }

    .col-min-xs-6{
        width: calc((100% / 12)*6);
    }

    .col-min-xs-7{
        width: calc((100% / 12)*7);
    }

    .col-min-xs-8{
        width: calc((100% / 12)*8);
    }

    .col-min-xs-9{
        width: calc((100% / 12)*9);
    }

    .col-min-xs-10{
        width: calc((100% / 12)*10);
    }

    .col-min-xs-11{
        width: calc((100% / 12)*11);
    }

    .col-min-xs-12{
        width: calc((100% / 12)*12);
    }
}

@media screen and (min-width: 576px){
    
    .hide-min-sm{
        display: none;
    }

    .show-min-sm{
        display: block;
    }
    
    .col-min-sm-1{
        width: calc((100% / 12)*1);
    }

    .col-min-sm-2{
        width: calc((100% / 12)*2);
    }

    .col-min-sm-3{
        width: calc((100% / 12)*3);
    }

    .col-min-sm-4{
        width: calc((100% / 12)*4);
    }

    .col-min-sm-5{
        width: calc((100% / 12)*5);
    }

    .col-min-sm-6{
        width: calc((100% / 12)*6);
    }

    .col-min-sm-7{
        width: calc((100% / 12)*7);
    }

    .col-min-sm-8{
        width: calc((100% / 12)*8);
    }

    .col-min-sm-9{
        width: calc((100% / 12)*9);
    }

    .col-min-sm-10{
        width: calc((100% / 12)*10);
    }

    .col-min-sm-11{
        width: calc((100% / 12)*11);
    }

    .col-min-sm-12{
        width: calc((100% / 12)*12);
    }
}

@media screen and (min-width: 768px){
    
    .hide-min-md{
        display: none;
    }

    .show-min-md{
        display: block;
    }

    .col-min-md-1{
        width: calc((100% / 12)*1);
    }

    .col-min-md-2{
        width: calc((100% / 12)*2);
    }

    .col-min-md-3{
        width: calc((100% / 12)*3);
    }

    .col-min-md-4{
        width: calc((100% / 12)*4);
    }

    .col-min-md-5{
        width: calc((100% / 12)*5);
    }

    .col-min-md-6{
        width: calc((100% / 12)*6);
    }

    .col-min-md-7{
        width: calc((100% / 12)*7);
    }

    .col-min-md-8{
        width: calc((100% / 12)*8);
    }

    .col-min-md-9{
        width: calc((100% / 12)*9);
    }

    .col-min-md-10{
        width: calc((100% / 12)*10);
    }

    .col-min-md-11{
        width: calc((100% / 12)*11);
    }

    .col-min-md-12{
        width: calc((100% / 12)*12);
    }

}

@media screen and (min-width: 992px){

    .hide-min-lg{
        display: none;
    }

    .show-min-lg{
        display: block;
    }

    .col-min-lg-1{
        width: calc((100% / 12)*1);
    }

    .col-min-lg-2{
        width: calc((100% / 12)*2);
    }

    .col-min-lg-3{
        width: calc((100% / 12)*3);
    }

    .col-min-lg-4{
        width: calc((100% / 12)*4);
    }

    .col-min-lg-5{
        width: calc((100% / 12)*5);
    }

    .col-min-lg-6{
        width: calc((100% / 12)*6);
    }

    .col-min-lg-7{
        width: calc((100% / 12)*7);
    }

    .col-min-lg-8{
        width: calc((100% / 12)*8);
    }

    .col-min-lg-9{
        width: calc((100% / 12)*9);
    }

    .col-min-lg-10{
        width: calc((100% / 12)*10);
    }

    .col-min-lg-11{
        width: calc((100% / 12)*11);
    }

    .col-min-lg-12{
        width: calc((100% / 12)*12);
    }

}

@media screen and (min-width: 1200px){
    
    .hide-min-xl{
        display: none;
    }

    .show-min-xl{
        display: block;
    }

    .col-min-xl-1{
        width: calc((100% / 12)*1);
    }

    .col-min-xl-2{
        width: calc((100% / 12)*2);
    }

    .col-min-xl-3{
        width: calc((100% / 12)*3);
    }

    .col-min-xl-4{
        width: calc((100% / 12)*4);
    }

    .col-min-xl-5{
        width: calc((100% / 12)*5);
    }

    .col-min-xl-6{
        width: calc((100% / 12)*6);
    }

    .col-min-xl-7{
        width: calc((100% / 12)*7);
    }

    .col-min-xl-8{
        width: calc((100% / 12)*8);
    }

    .col-min-xl-9{
        width: calc((100% / 12)*9);
    }

    .col-min-xl-10{
        width: calc((100% / 12)*10);
    }

    .col-min-xl-11{
        width: calc((100% / 12)*11);
    }

    .col-min-xl-12{
        width: calc((100% / 12)*12);
    }

}

@media screen and (min-width: 1400px){
    
    .hide-min-xxl{
        display: none;
    }

    .show-min-xxl{
        display: block;
    }

    .col-min-xxl-1{
        width: calc((100% / 12)*1);
    }

    .col-min-xxl-2{
        width: calc((100% / 12)*2);
    }

    .col-min-xxl-3{
        width: calc((100% / 12)*3);
    }

    .col-min-xxl-4{
        width: calc((100% / 12)*4);
    }

    .col-min-xxl-5{
        width: calc((100% / 12)*5);
    }

    .col-min-xxl-6{
        width: calc((100% / 12)*6);
    }

    .col-min-xxl-7{
        width: calc((100% / 12)*7);
    }

    .col-min-xxl-8{
        width: calc((100% / 12)*8);
    }

    .col-min-xxl-9{
        width: calc((100% / 12)*9);
    }

    .col-min-xxl-10{
        width: calc((100% / 12)*10);
    }

    .col-min-xxl-11{
        width: calc((100% / 12)*11);
    }

    .col-min-xxl-12{
        width: calc((100% / 12)*12);
    }

}

@media screen and (max-width: 460px){
    
    .hide-max-xs{
        display: none;
    }

    .show-max-xs{
        display: block;
    }
    
    .col-max-xs-1{
        width: calc((100% / 12)*1);
    }

    .col-max-xs-2{
        width: calc((100% / 12)*2);
    }

    .col-max-xs-3{
        width: calc((100% / 12)*3);
    }

    .col-max-xs-4{
        width: calc((100% / 12)*4);
    }

    .col-max-xs-5{
        width: calc((100% / 12)*5);
    }

    .col-max-xs-6{
        width: calc((100% / 12)*6);
    }

    .col-max-xs-7{
        width: calc((100% / 12)*7);
    }

    .col-max-xs-8{
        width: calc((100% / 12)*8);
    }

    .col-max-xs-9{
        width: calc((100% / 12)*9);
    }

    .col-max-xs-10{
        width: calc((100% / 12)*10);
    }

    .col-max-xs-11{
        width: calc((100% / 12)*11);
    }

    .col-max-xs-12{
        width: calc((100% / 12)*12);
    }
}

@media screen and (max-width: 576px){
    .hide-max-sm{
        display: none;
    }

    .show-max-sm{
        display: block;
    }

    .col-max-sm-1{
        width: calc((100% / 12)*1);
    }

    .col-max-sm-2{
        width: calc((100% / 12)*2);
    }

    .col-max-sm-3{
        width: calc((100% / 12)*3);
    }

    .col-max-sm-4{
        width: calc((100% / 12)*4);
    }

    .col-max-sm-5{
        width: calc((100% / 12)*5);
    }

    .col-max-sm-6{
        width: calc((100% / 12)*6);
    }

    .col-max-sm-7{
        width: calc((100% / 12)*7);
    }

    .col-max-sm-8{
        width: calc((100% / 12)*8);
    }

    .col-max-sm-9{
        width: calc((100% / 12)*9);
    }

    .col-max-sm-10{
        width: calc((100% / 12)*10);
    }

    .col-max-sm-11{
        width: calc((100% / 12)*11);
    }

    .col-max-sm-12{
        width: calc((100% / 12)*12);
    }
}

@media screen and (max-width: 768px){
    .hide-max-md{
        display: none;
    }

    .show-max-md{
        display: block;
    }

    .col-max-md-1{
        width: calc((100% / 12)*1);
    }

    .col-max-md-2{
        width: calc((100% / 12)*2);
    }

    .col-max-md-3{
        width: calc((100% / 12)*3);
    }

    .col-max-md-4{
        width: calc((100% / 12)*4);
    }

    .col-max-md-5{
        width: calc((100% / 12)*5);
    }

    .col-max-md-6{
        width: calc((100% / 12)*6);
    }

    .col-max-md-7{
        width: calc((100% / 12)*7);
    }

    .col-max-md-8{
        width: calc((100% / 12)*8);
    }

    .col-max-md-9{
        width: calc((100% / 12)*9);
    }

    .col-max-md-10{
        width: calc((100% / 12)*10);
    }

    .col-max-md-11{
        width: calc((100% / 12)*11);
    }

    .col-max-md-12{
        width: calc((100% / 12)*12);
    }
}

@media screen and (max-width: 992px){
    .hide-max-lg{
        display: none;
    }

    .show-max-lg{
        display: block;
    }

    .col-max-lg-1{
        width: calc((100% / 12)*1);
    }

    .col-max-lg-2{
        width: calc((100% / 12)*2);
    }

    .col-max-lg-3{
        width: calc((100% / 12)*3);
    }

    .col-max-lg-4{
        width: calc((100% / 12)*4);
    }

    .col-max-lg-5{
        width: calc((100% / 12)*5);
    }

    .col-max-lg-6{
        width: calc((100% / 12)*6);
    }

    .col-max-lg-7{
        width: calc((100% / 12)*7);
    }

    .col-max-lg-8{
        width: calc((100% / 12)*8);
    }

    .col-max-lg-9{
        width: calc((100% / 12)*9);
    }

    .col-max-lg-10{
        width: calc((100% / 12)*10);
    }

    .col-max-lg-11{
        width: calc((100% / 12)*11);
    }

    .col-max-lg-12{
        width: calc((100% / 12)*12);
    }
}

@media screen and (max-width: 1200px){
    .hide-xl{
        display: none;
    }

    .show-max-xl{
        display: block;
    }

    .col-max-xl-1{
        width: calc((100% / 12)*1);
    }

    .col-max-xl-2{
        width: calc((100% / 12)*2);
    }

    .col-max-xl-3{
        width: calc((100% / 12)*3);
    }

    .col-max-xl-4{
        width: calc((100% / 12)*4);
    }

    .col-max-xl-5{
        width: calc((100% / 12)*5);
    }

    .col-max-xl-6{
        width: calc((100% / 12)*6);
    }

    .col-max-xl-7{
        width: calc((100% / 12)*7);
    }

    .col-max-xl-8{
        width: calc((100% / 12)*8);
    }

    .col-max-xl-9{
        width: calc((100% / 12)*9);
    }

    .col-max-xl-10{
        width: calc((100% / 12)*10);
    }

    .col-max-xl-11{
        width: calc((100% / 12)*11);
    }

    .col-max-xl-12{
        width: calc((100% / 12)*12);
    }
}

@media screen and (max-width: 1400px){
    .hide-xxl{
        display: none;
    }

    .show-max-xxl{
        display: block;
    }

    .col-max-xxl-1{
        width: calc((100% / 12)*1);
    }

    .col-max-xxl-2{
        width: calc((100% / 12)*2);
    }

    .col-max-xxl-3{
        width: calc((100% / 12)*3);
    }

    .col-max-xxl-4{
        width: calc((100% / 12)*4);
    }

    .col-max-xxl-5{
        width: calc((100% / 12)*5);
    }

    .col-max-xxl-6{
        width: calc((100% / 12)*6);
    }

    .col-max-xxl-7{
        width: calc((100% / 12)*7);
    }

    .col-max-xxl-8{
        width: calc((100% / 12)*8);
    }

    .col-max-xxl-9{
        width: calc((100% / 12)*9);
    }

    .col-max-xxl-10{
        width: calc((100% / 12)*10);
    }

    .col-max-xxl-11{
        width: calc((100% / 12)*11);
    }

    .col-max-xxl-12{
        width: calc((100% / 12)*12);
    }
}

.col-1{
    width: calc((100% / 12)*1);
}

.col-2{
    width: calc((100% / 12)*2);
}

.col-3{
    width: calc((100% / 12)*3);
}

.col-4{
    width: calc((100% / 12)*4);
}

.col-5{
    width: calc((100% / 12)*5);
}

.col-6{
    width: calc((100% / 12)*6);
}

.col-7{
    width: calc((100% / 12)*7);
}

.col-8{
    width: calc((100% / 12)*8);
}

.col-9{
    width: calc((100% / 12)*9);
}

.col-10{
    width: calc((100% / 12)*10);
}

.col-11{
    width: calc((100% / 12)*11);
}

.col-12{
    width: calc((100% / 12)*12);
}


/* #endregion grid */

/* #region generals */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body{
    /* overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh; */
}

.debug{
    border: 1px dashed black;
}

/* #endregion generals */

/* #region utilities */

.d-flex{
    display: flex;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content: space-evenly;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.align-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.gap-1{
    gap: 1rem;
}

.gap-2{
    gap: 2rem;
}

.gap-3{
    gap: 3rem;
}

/* #endregion utilities */

/* #endregion assets */